.weather__container {
    font-family: 'Segoe UI', 'Helvetica Neue', monospace;
    position: relative;
}

.weather__error {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

.weather__error p {
    background-color: lightyellow;
    margin: 0.5rem;
    padding: 0.5rem;
    text-align: center;
    color: darkred;
    background-color:lightpink;
    border: 1px solid darkred;
    font-weight: bolder;
}

.weather__location {
    font-size: large;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0.2rem;
}